#!/bin/sh
DT=$(date '+%Y-%m-%dT%H:%M:%S')
SUFFIX=
FILENAME=$DT$SUFFIX
BACKUPSPATH=
IP=
PORT=
DBUSER=
DBNAME=
USER=
DBPASS=
echo "Opening socks tunnel to $IP"
echo "Writing $FILENAME"
# http://www.g-loaded.eu/2006/11/24/auto-closing-ssh-tunnels/
ssh -f -L $PORT:127.0.0.1:$PORT $USER@$IP sleep 10; \
mysqldump -u $DBUSER -h 127.0.0.1 -p$DBPASS -P $PORT --routines $DBNAME > $BACKUPSPATH/$FILENAME
