code {
	background: rgba(0,0,0,.05);
}

pre {
	/*padding: 0.4rem 0.6rem;*/
	margin-top: 0;	
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.before-pre {
	margin-bottom: 0;
}

p.last-updated {
	font-style: italic;
}

/*
#mobile-menu-control-wrapper, #site-navigation, #masthead {
	background-color: #fed302;
}

.site-info {
	background-color: #fab609;
}

.main-title a,
.main-title a:hover,
.site-description,
#primary-menu a {
		color: #0c3b62;
} */

.homepage-service {
	/* background-color: #e1ebea; */
	/* padding: 40px; */
	/* margin-bottom: 40px; */
}

.homepage-service ul {
	/* margin-bottom: 0px; */
	/* margin-left: 0px; */
}

ul.no-bull {
  list-style-type: none;
  /* padding: 0; */
  /* margin: 0; */
}
