code {
	background: rgba(0,0,0,.05);
}

pre {
	padding: 0.4rem 0.6rem;
	margin-top: 0;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.before-pre {
	margin-bottom: 0;
}

p.last-updated {
	font-style: italic;
}

#mobile-menu-control-wrapper, #site-navigation, #masthead {
	background-color: #fed302;
}

.site-info {
	background-color: #fab609;
}
